body {
    text-align: center;
    margin: auto;
    background-color:rgb(198, 215, 247);
    background-size: cover;
    background-position: center-top;
}
h1 {
    text-align: left;
    margin-left: 20px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin-left: 5px;
    margin-bottom: 50px;
}
a {
    border: solid black 5px;
    background-color: black;
    border-radius: 15px;
    border-width: 15px;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 75px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}
.technologies {
    text-align: center;
    list-style: none;
    padding-top: 15px;
    
}
#job {
    width: 250px;
    border-radius: 50px;
    text-align: center;
    background-position: center;
}
#stack {
    background-color: aquamarine;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 50px;
    
    padding: 10px;
    margin: auto;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}